<!DOCTYPE html>
<html>
<head>
<title>Sign Up</title>
</head>
<body>

<h3>Lynn Fam Sign Up</h3>
<form action="/students/signup" method="POST">
  <label>Name:<input type="text" name="name" id="name"><br></label>
  <label>Username:<input type="text" name="username" id="username"><br></label>
  <label>Password:<input type="password" name="password" id="password"><br></label>
  <input type="submit" value="Start throwing away money!"><br>
  <% unless locals.empty? %>
  <%= message %>
  <% end %>

</form>


</body>
</html>
