<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body>

<h3>Student Login</h3>
<form action="/students/login" method="POST">
  <label>Username:<input type="text" name="username" id="username:"></label><br>
  <label>Password:<input type="password" name="password" id="password:"></label><br>
  <input type="submit" id="submit" value="Log In">
</form>

<h4>Not a member yet? Sign Up <a href="/students/signup">Here</a></h4>


</body>
</html>
