<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Welcome To Lynn's Tutoring</h1>
<p>Don't let your child be inadequate! Get a tutor!</p>

<h4><a href="/students/login">Students</a></h4>
<h4><a href="/tutors/login">Tutors</a></h4>
</body>
</html>

